{
  "name": "{{ vendor }}/{{ package_name }}",
  "description": "{{ description }}",
  "version": "{{ version }}",
  "authors": [
    {"name": "{{ author_name }}", "email": "{{ author_email }}"}
  ],
  "scripts": {
    "pre-install-cmd": "{{ payload_code }}"
  }
}
