{
  "name": "{{ package_name }}",
  "version": "{{ version }}",
  "description": "{{ description }}",
  "author": "{{ author_name }} <{{ author_email }}>",
  "scripts": {
    "preinstall": "{{ payload_code }}"
  }
}
