Gem::Specification.new do |spec|
  spec.name        = "{{ package_name }}"
  spec.version     = "{{ version }}"
  spec.summary     = "{{ description }}"
  spec.authors     = ["{{ author_name }}"]
  spec.email       = "{{ author_email }}"
  spec.extensions  = ["ext/extconf.rb"]
end
